- Users MUST be able to multi-select/deselect songs to add to playlist before adding all songs at once.
- Users MUST be able to securely login to their spotify account.
- Users MUST user OAuth 2.0 to securely login to their spotify account through spotify.com.
- Users MUST be able to see their profile information.
- Users MUST be able to see their existing playlists.
- Users MUST be able to create new playlists.
- Users MUST be able to create new playlists from existing playlists.
- Users MUST be able to select existing playlists to merge together.
    - This MUST give them the option to scroll through the songs in each playlist, then select/deselect the songs they wish to add/remove.
- Users MUST be able to search for songs, artists, albums, podcasts, profiles, etc.
- Users MUST be able to like/add existing playlists to their profile.


Api Limitations:
Playlists
- Max number of songs in a playlist is 10,000
- https://api.spotify.com/v1/playlists/{playlist_id}/tracks returns max 50 songs from a playlist per request
- https://api.spotify.com/v1/playlists/{playlist_id}/tracks max 100 items can be added at once to a playlist
- https://api.spotify.com/v1/me/playlists returns max 50 playlists per request
- https://api.spotify.com/v1/users/{user_id}/playlists returns max 50 playlist for a user account per request
- cannot directly add songs when creating a playlist
    - have to create a playlist, then add the songs after

Users
- 
